$uni-primary: #3cc51f;
$uni-success: #4cd964;
$uni-warning: #f0ad4e;
$uni-error: #dd524d;
$uni-info: #909399;

$uni-main-color: #303133;
$uni-base-color: #606266;
$uni-secondary-color: #909399;
$uni-extra-color: #C0C4CC;

$uni-border-1: #DCDFE6;
$uni-border-2: #E4E7ED;
$uni-border-3: #EBEEF5;
$uni-border-4: #F2F6FC;

$uni-bg-color: #f8f8f8;
$uni-bg-color-grey: #f9f9f9;
$uni-bg-color-hover: #f1f1f1;
$uni-bg-color-mask: rgba(0, 0, 0, 0.4);

$u-primary: #2979ff;
$u-warning: #ff9900;
$u-success: #19be6b;
$u-error: #fa3534;
$u-info: #909399;
$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;